.Footer{
    background: #08182d;
    gap: 2rem;
    align-items: center;
    padding: 15rem 7%;
    text-align: center;

    .navBox{
        a{
            font-size: 1.6rem;
            color: #ccc;
            margin: 0 2rem;
        }
    }

    .icons-contact{
        margin-top: 2rem;

        a{
            font-size: 1.7rem;
            color: #fff;
            padding: 1rem;
            margin: 2rem;
            border-radius: 5rem;
            border: .15rem solid #bbb;
        }
    }

    p{
        margin-top: 5rem;
        font-size: 1.6rem;
        color: #ccc;
    }
}